# RAMP Production Environment Template
# SIH26080 | MoES / NCMRWF
APP_ENV=PRODUCTION
RAMP_DATA_MODE=REAL_OPERATIONAL
REQUIRE_AUTHORITATIVE_MOUNT=1

NCMRWF_DATA_ROOT=/mnt/operational/ncmrwf
IMD_DATA_ROOT=/mnt/operational/imd
MODEL_REGISTRY_ROOT=/opt/ramp/ml/model_registry
FORECAST_OUTPUT_ROOT=/mnt/operational/processed/forecasts
AUDIT_ROOT=/var/log/ramp/audit
LOG_ROOT=/var/log/ramp/logs

APP_HOST=0.0.0.0
APP_PORT=8000
SECRET_KEY=institution-super-secure-production-key-min-32-chars-moes-ncmrwf
ENABLE_STAGING_MODE=0
